html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h1 Datos de contacto
        p Nombre Dayana Vila
        p Dirección Avenida Academia
        p CP 50015
        p Localidad Zaragoza
        p Provincia Zaragoza